
.box-every{

    padding-bottom: 16%;
}


/*               khetmat                 */

.box-img-return img{
    height: 245px;
    border-radius: 60px 10px 0 0;
    width: 100%;

}
.box-img-return{
    position: relative;

}

.box-radius{
    border-radius: 60px 10px;
}


.khetmat-description{
    text-align: center;
    display: block;
    margin-top: 8%;
    padding-right: 7%;
    padding-left: 7%;
}


/*      btn shoew            */
.sub-button
{
    width: 100%;
    position: absolute;
    top: 50%;
    display: none;
}

.box-img-return:hover .sub-button{
    display: block;
}

.button
{
    border: none;
    display: block;
    margin: auto auto;
    padding: .3em 3rem;
    font-family: inherit;
    border-radius: 25px;
    color: #fcfcfc;
    transition: 0.25s ease-in;
    background: #ff4b1f;
    background-image: none;
    background-image: linear-gradient(to right, rgba(225, 28, 116, 0.55) 0%, #e11c74 51%, rgba(225, 28, 116, 0.55) 100%);
    background-size: 200% auto;
    box-shadow: 0 3px 4px 0 #0000001a, 0 3px 3px -2px #0003, 0 1px 8px 0 #0000001a;
    white-space: nowrap;
    cursor: pointer;
    font-size: 1.2rem;
}

.button:hover
{
    background-position: right center;
}



/*      responsiv       */

